<div class="fondo">
    <div class="container">
        <br><br>
        <h2>RegistrAPP</h2>
        <br><br>
        <div class="row">
            <div class="col-8">
                <app-lista-historial [historial]="historial"></app-lista-historial>
            </div>
            <div class="col-4">
                <app-lista-alumnos [alumnos]="alumnos"></app-lista-alumnos>
            </div>
        </div><br>
        <h4>Nuevo registro</h4><br>
        <table class="table">
            <tr>
                <th>Sección</th>
                <td>
                    <select (click)="cambiaNombreSeccion($event)">
                        <option value="">--- SELECCIONAR ---</option>
                        <option *ngFor="let a2 of seccion" value="{{a2.nombre}}">{{a2.nombre}}</option>
                    </select>
                </td>
                <td>
                    <select (click)="cambiaIdSeccion($event)">
                        <option value="">--- SELECCIONAR ---</option>
                        <option *ngFor="let a3 of seccion" value="{{a3.id}}">{{a3.id}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Alumno</th>
                <td>
                    <select (click)="seleccionaAlumno($event)">
                        <option value="">--- SELECCIONAR ---</option>
                        <option *ngFor="let a6 of alumnos" value="{{a6.apellido}}">{{a6.nombre}} {{a6.apellido}}</option>
                    </select>
                </td>
            </tr>
        </table><br><br>
        <div class="row">
            <div class="col-6">
                <app-formulario-seccion (a4)="recibeSecciones($event)"></app-formulario-seccion>
            </div>
            <div class="col-6">
                <app-formulario-alumno (enviarAlumno)="puenteAlumno($event)" [secciones]="seccion"></app-formulario-alumno>
            </div>
        </div>
    </div><br>
</div>
