<h4>Nuevo alumno</h4><br><br>
<table>
    <tr>
        <th>RUT</th>
        <td>
            <input type="text" [value]="alumno.rut" (change)="cambiaRut($event)">
        </td>
    </tr>
    <tr>
        <th>Nombre</th>
        <td>
            <input type="text" [value]="alumno.nombre" (change)="cambiaNombre($event)">
        </td>
    </tr>
    <tr>
        <th>Apellido</th>
        <td>
            <input type="text" [value]="alumno.apellido" (change)="cambiaApellido($event)">
        </td>
    </tr>
    <tr>
        <th>Edad</th>
        <td>
            <input type="number" [value]="alumno.edad" (change)="cambiaEdad($event)">
        </td>
    </tr>
    <tr>
        <th>ID de sección</th>
        <td>
            <select (click)="cambiaIdSeccion($event)">
                <option value="0">--- SELECCIONAR ---</option>
                <option *ngFor="let a6 of secciones" value="{{a6.id}}">{{a6.id}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>Nombre de sección</th>
        <td>
            <select (click)="cambiaNombreSeccion($event)">
              <option value="">--- SELECCIONAR ---</option>
              <option *ngFor="let a5 of secciones" value="{{a5.nombre}}">{{a5.nombre}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>
            <button type="button" (click)="guardar()">Guardar alumno</button>
        </th>
    </tr>
</table>
